.column-task-container{
    max-width: 300px;
}
.column-task-title{
    display: flex;
    justify-content: space-between;
}
.column-task-title-h6{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
.column-container-tasks{
    height: calc(100vh - 270px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
}
.column-container-tasks::-webkit-scrollbar {
    width: 0px; 
}